#(project
  (#(meta
     (#(name lfeyform)
      #(description "YAWS form utilities written in LFE")
      #(version "0.1.0")
      #(keywords ("LFE" "Lisp" "Library" "HTML" "HTTP" "Server" "Forms"))
      #(maintainers
        ((#(name "Michael J. Forster") #(email "mike@forsterfamily.ca"))))
      #(repos
        (#(github "michaeljforster/lfeyform")))))
   #(app
     (#(mod #(lfeyform ()))))))
